* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main {
	position: relative;
	background: #292929;
	min-height: 100vh;
	overflow: hidden;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	width: 100%;
	height: 84px;
	background: #101010;
}

.logo {
	color: #fff;
}

.user {
	color: #fff;
	display: flex;
	align-items: center;

	gap: 20px;
}

.user-name {
	font-size: 1rem;
}
.avatar-wrap {
	width: 44px;
	height: 44px;
}

.avatar-wrap img {
	border-radius: 50%;
	object-fit: contain;
	width: 100%;
	height: 100%;
}
.rides-tab {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #d0cbcb;
	cursor: pointer;
	padding: 20px;
}

.tabs {
	display: flex;
	gap: 20px;
}

.tabs h2 {
	font-size: 0.8rem;
}

.filters {
	position: relative;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;

	z-index: 1;
}
